html    {background-color: #ebcda5;  
	 }

body	{background: transparent;
	 	padding-left: 175px;
	}

h1 {color: #002700}

h2 {color: #735C19}

div.leftPart {
  position: relative;
  top: 0px;
  left: -150px;
  height: 500px;
  width: 0px;
  float: left;
  background: transparent; 
  border-style: none;
  border-width: 0;
}

div.rightPart {
  position: relative;
  background: transparent; 
  border-style: none;
  border-width: 0;
}

div.titlepage {
  text-align: center;
  background-color:#936C20;
  color: #ddeedd;
}



div.courseName {
  color: #735C19;
  text-align:center;
  font-weight:bold;
  font-size: 20pt;
}

dt {
  font-weight:bold;
}


table.formatTable {background-color: #cbad85;}


span.postAuthor {font-weight: bold;}
span.postDate   {font-style: italic;}


input.but {
  color: #000000;
  background: #3366FF;
  font-weight: bold;
  font-family: serif;
  font-size: 10pt;
  width: 95;
}

span.but  {
  color: #000000;
  background: #936C20;
  padding: 2px;
  margin: 2px;
  font-weight: bold;
  font-family: serif;
  font-size: 10pt;
  border-width: thin;
  border-style: outset;
  text-decoration: none;
  border-radius: 8px;
}

td.but  {
  color: #000000;
  background: #936C20;
  padding: 5px;
  font-weight: bold;
  font-family: serif;
  font-size: 12pt;
  border-width: thin;
  border-style: outset;
  text-decoration: none;
  border-radius: 8px;
}


a.but:link {
  color: #003300;
  text-decoration: none;
}
a.but:visited {
  color: #003300;
}
a.but:hover {
  color: #006600;
  text-decoration: none;
}

tr.separator	{
  height: 20px;
}

span.topic1 {
   font-size: 16pt;
   font-weight: bold;
}

span.topic2 {
   font-size: 14pt;
   font-weight: bold;
}

span.topic3 {
   font-weight: bold;
}

span.topicSpacing {
   width: 60pt;
   display: block;
}
