<html>
  <head>
    <title>@title@ - Available Formats</title>
    <link href="../../Directory/directory.css" rel="stylesheet" type="text/css">
    <style>
      td {padding: 3px;}
      .visprintable {display:none}
      .visweb {display:none}
      .vishtml {display:none}
      .vispages {display:none}
      .visslides {display:none}
      .visslideous {display:none}
      .visslidy {display:none}
      .visreveal {display:none}
      .visdzslides {display:none}
      }
</style></head>
<body>

    </style>
  </head>
  <body>
    <h1>@title@</h1>
    <h2>- Available Formats - </h2>

<p>
    <table class="formatTable" border="1">
      <tr>
	<th>Formatted for...</th>
	<th>PDF File</th>
      </tr>
      <!--visweb<tr class="visweb">
	<td>General web viewing (PDF)</td>
	<td> <span class="but"><a class="but" href="@doc@-web.pdf">Download</a></span></td>
      </tr>visweb-->
      <!--visprintable<tr class="visprintable">
	<td>Printable (PDF)</td>
	<td> <span class="but"><a class="but" href="@doc@-printable.pdf">Download</a></span></td>
      </tr>visprintable-->
      <!--vishtml<tr class="vishtml">
	<td>General web viewing (HTML)</td>
	<td> <span class="but"><a class="but" href="@doc@-html.html">Open</a></span></td>
      </tr>vishtml-->
      <!--vispages<tr class="vispages">
	<td>General web viewing (HTML, multiple pages)</td>
	<td> <span class="but"><a class="but" href="@doc@-pages.html">Open</a></span></td>
      </tr>vispages-->
      <!--visslides<tr class="visslides">
	<td>Slides for presentation in class</td>
	<td><span class="but"><a class="but" href="@doc@-slides.pdf">Download</a></span></td>
      </tr>visslides-->
      <!--visslideous<tr class="visslideous">
	<td>Slides for presentation in class</td>
	<td><span class="but"><a class="but" href="@doc@-slideous.html">Open</a></span></td>
      </tr>visslideous-->
      <!--visslidy<tr class="visslidy">
	<td>Slides for presentation in class</td>
	<td><span class="but"><a class="but" href="@doc@-slidy.html">Open</a></span></td>
      </tr>visslidy-->
      <!--visdzslides<tr class="visdzslides">
	<td>Slides for presentation in class</td>
	<td><span class="but"><a class="but" href="@doc@-dzslides.html">Open</a></span></td>
      </tr>visdzslides-->
    </table>
</p>
<p>
  Last modified on: @modDate@
</p>
  </body>
</html>
