<html>
  <head>
    <title>@courseName@ E-mail</title>
    <script type="text/javascript" language="JavaScript">
      
      function sendEmail() {
         var queryString = location.search + "&amp;";
	 var parts = queryString.split("subject=");
	 var subject = "@courseName@ [Enter a descriptive subject line]";
	 if (parts.length > 1) {
	     parts = parts[1].split("&amp;");
	     subject = parts[0];
	     }
	 var body="[Enter your message]";
	 parts = queryString.split("body=");
	 if (parts.length > 1) {
	     parts = parts[1].split("&amp;");
	     body=parts[0];
	     }
	 window.open ("mailTo:@email@?subject="
	 + subject + "&amp;body=" + body, "_self", false);
      }
     
    </script>
  </head>
  <body onload="sendEmail()">
  </body>
</html>
