**/title.xml
**/index.html
**/*.properties
**/*~
**/*__*
/*.epub
/*.mobi
**/epub
**/epub/*
**/epub.contents*
**/ant.log
**/*.h.html
**/*.cpp.html
**/*.java.html
**/*.listing.html
**/gradle.log
/hangout
/library
/outline
/provostConversationOct2013
/.settings/
