html    {background-color: white;  
	 background-image: url(../eoscha3a.gif); 
	 background-repeat: repeat-y;}

body	{background: transparent;
	 background-image: url(../eoscha3a.gif); 
	 background-repeat: repeat-y;
         padding-left: 175px;
	}


h1 {color: #004000}

h2 {color: #0000FF}


div.titlepage {
  text-align: center;
  background-color:#936C20;
  color: #ddeedd;
}



div.courseName {
  color: #000040;
  text-align:center;
  font-weight:bold;
  font-size: 20pt;
}

dt {
  font-weight:bold;
}


table.formatTable {background-color: #99CC99;}



span.postAuthor {font-weight: bold;}
span.postDate   {font-style: italic;}


input.but {
  color: #000000;
  background: #BBDDFF;
  font-weight: bold;
  font-family: serif;
  font-size: 10pt;
  width: 95;
}

span.but  {
  color: #000000;
  background: #BBDDFF;
  padding: 2px;
  margin: 2px;
  font-weight: bold;
  font-family: serif;
  font-size: 10pt;
  border-width: thin;
  border-style: outset;
  text-decoration: none;
  border-radius: 8px;
}

td.but  {
  color: #000000;
  background: #BBDDFF;
  padding: 5px;
  font-weight: bold;
  font-family: serif;
  font-size: 12pt;
  border-width: thin;
  border-style: outset;
  text-decoration: none;
  border-radius: 8px;
}


